<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">Liste des stocks supprimés</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="overflow-scroll">
        <div class="modal-body col-12">
            <div class="row ml-5">
                <div *ngFor="let item of ListStockPassive; let i = index"
                    class="col-3 mt-3 ml-5 mr-1 border about-section-card">
                    <img src="../../../../assets/img/1.jpg" alt="" class="img-fluid">
                    <b class="">{{ item.libelleStock }}</b>
                    <p><b>Quantité : </b>{{ item.qteStock }}</p>
                    <p><b>Quantité minimale :</b> {{ item.qteMin }}</p>
                    <div class="row mt-1 col-12">
                        <a [routerLink]="['/DetailStock']"
                            class="btn btn-outline-success fa btn-title btn-md ml-4 col-10 mb-2">Activer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer col-12">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    </div>
</ng-template>
<!--body-->
<div class="container my-2">
    <div class="row">
        <h2 class="mt-3 title ">Liste des stocks disponibles</h2>
        <div class="offset-7">
            <a [routerLink]="['/AddStock']" class="ml-2">
                <button class="btn btn-outline-success btnAjout fa fa-plus-square" (click)="addStock()">
                </button>
            </a>
            <a [routerLink]="['/AddStock']" class="ml-2">
                <button class="btn btn-outline-dark fa fa-sort-numeric-down" (click)="addStock()">
                </button>
            </a>
            <a [routerLink]="" class="ml-2">
                <button class="btn btn-outline-dark fa fa-sort-alpha-down" (click)="addStock()">
                </button>
            </a>
        </div>
        <a [routerLink]="" class="offset-8">
            <button class="btn btn-outline-danger fa" (click)="DeletedStock();open(content)">
                Liste des stocks supprimes
            </button>
        </a>
    </div>
</div>
<div class="container my-3" id="about">
    <div class="row offset-4">
        <div class="input-group col-12">
            <div class="form-outline col-10">
                <input type="search" placeholder="Recherche.." id="form1" class="form-control " />
            </div>
            <button type="button" class="btn btn-outline-dark col-1">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="overflow-scroll">
        <div class="row">
            <div *ngFor="let item of ListStock| paginate: {itemsPerPage:3,currentPage:p} let i = index;"
                class="col-3 mt-3 ml-5 border about-section-card">
                <img src="../../../../assets/img/1.jpg" alt="" class="img-fluid">
                <b class="size">{{ item.libelleStock }}</b>
                <p class="mt-2 "><b>Quantité : </b>{{ item.qteStock }}</p>
                <p><b>Quantité minimale :</b> {{ item.qteMin }}</p>
                <img src="../../../../assets/img/etoile.png" class="img" />
                <!--<div *ngIf="item.rating===0" style="width: 60px;">
                    <img src=" ../../../../assets/img/star_favorite_14013.png" class="col-2 img" />
                    <img src="https://img.icons8.com/color/96/000000/star--v1.png" class="col-2" />
                    <img src="https://img.icons8.com/color/96/000000/star--v1.png" class="col-2" />
                    <img src="https://img.icons8.com/color/96/000000/star--v1.png" class="col-2" />
                    <img src="https://img.icons8.com/color/96/000000/star--v1.png" class="col-2" />
                </div>
            -->
                <div *ngIf="item.qteStock < item.qteMin">
                    <div class="row mt-1 col-12">
                        <a [routerLink]="['/DetailStock']"
                            class="btn btn-outline-info fa btn-title btn-md ml-4 col-5">Details</a>
                        <a [routerLink]="['/DetailStock']"
                            class="btn btn-outline-dark fa btn-title btn-ms ml-2 col-5">Commander</a>
                    </div>
                    <div class="row mt-1 col-12">
                        <a [routerLink]="['/EditStock']"
                            class="btn btn-outline-warning fa btn-title btn-ms ml-4 col-5">Modifier</a>
                        <a [routerLink]="['/DeleteStock']"
                            class="btn btn-outline-danger fa  btn-title btn-ms ml-2 col-5">Supprimer</a>
                    </div>
                </div>
                <div *ngIf="item.qteStock > item.qteMin">
                    <div class="row mt-1 col-12">
                        <a [routerLink]="['/DetailStock']"
                            class="btn btn-outline-info fa btn-title btn-ms col-10 ml-4">Details</a>
                    </div>
                    <div class="row mt-1 col-12">
                        <a [routerLink]="['/EditStock']"
                            class="btn btn-outline-warning fa btn-title btn-ms col-4 ml-4">Modifier</a>
                        <a [routerLink]="['/DeleteStock']"
                            class="btn btn-outline-danger fa btn-title  btn-ms col-5 ml-3">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="mt-5"></pagination-controls>
</div>