<div class="container my-3">
    <div class="row">
        <h2 class="fa">Les stocks supprimés</h2>

        <button class="btn btn-outline-dark fa  offset-4" (click)="addStock()">
            <a [routerLink]="['/AddStock']" class="ml-2">Les stocks disponibles</a>
        </button>

    </div>
</div>
<div class="container my-3 w-100" id="about">
    <div class="row">
        <div *ngFor="let item of ListStock; let i = index" class="col-4 mt-3 border about-section-card">
            <img src="../../../../assets/img/1.jpg" alt="" class="img-fluid">
            <b class="fa">{{ item.libelleStock }}</b>
            <p>Quantité : {{ item.qteStock }}</p>
            <p>Quantité minimale : {{ item.qteMin }}</p>
        </div>
    </div>
</div>
<hr>