<!--/////////////////////////////////////////////////////////////////////////-->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h2 class="modal-title" id="modal-basic-title"><b>Liste des stocks supprimés</b></h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="overflow-scroll">
        <div class="modal-body col-12">
            <div class="row ml-5">
                <div *ngFor="let item of ListStockPassive| paginate: {itemsPerPage:3,currentPage:p}  let i = index;"
                    class="col-3 mt-3 ml-5 mr-1 border about-section-card huver">
                    <img src={{item.urlImage}} alt="" class="img-fluid my-3">
                    <b class="">{{ item.libelleStock }}</b>
                    <p><b>Quantité : </b>{{ item.qteStock }}</p>
                    <p><b>Quantité minimale :</b> {{ item.qteMin }}</p>
                    <div class="row mt-1 col-12">
                        <a (click)="Activate(item.idStock)"
                            class="btn btn-outline-success fa btn-title btn-md ml-4 col-10 mb-2">Activer</a>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" class="mt-5"></pagination-controls>
    </div>
    <div class="modal-footer col-12">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click');ActivateStock()">Fermer</button>
    </div>
</ng-template>
<!--body-->
<div class="container my-2">
    <div class="row">
        <h2 class="mt-3 title ">Liste des stocks disponibles</h2>
        <div class="offset-4">
            <a [routerLink]="['/AddStock']" class="ml-2 ">
                <button class="btn btn-outline-success btnAjout fa fa-plus-square huver">
                    Ajouter
                </button>
            </a>
            <a class="ml-2">
                <button class="btn btn-outline-danger fa huver" (click)="DeletedStock();open(content)">
                    Liste des stocks supprimes
                </button>
            </a>
        </div>
    </div>
</div>
<div class="container my-3" id="about">
    <div class="row offset-9 mb-2">
        <a class="ml-2">
            <button class="btn btn-outline-dark fa huver" (click)="OrderStocksByLibelle()">
                <img src="../../../../assets/img/sort-by-alphabet_icon-icons.com_73407.png" alt="">
            </button>
        </a>
        <a [routerLink]="" class="ml-2">
            <button class="btn btn-outline-dark fa huver" (click)="OrderStocksByQte()">
                <img src="../../../../assets/img/sort-by-order_icon-icons.com_73403.png" alt="">
            </button>
        </a>
        <a [routerLink]="" class="ml-4">
            <button class="btn btn-outline-dark fa huver" (click)="ActivateStock()">
                <img src="../../../../assets/img/refresh-page-arrow-button_icon-icons.com_53909.png" alt="">
            </button>
        </a>
    </div>
    <div class="row offset-5">
        <div class="input-group">
            <form #modelF="ngForm" class="row col-12">
                <div class="form-outline col-9">
                    <input type="text" placeholder="Recherche.." name="search" [(ngModel)]="search" #qteMin="ngModel"
                        id="form1" class="form-control " />
                </div>
                <div class="col-2 ml-1">
                    <input type="submit" class="btn btn-outline-dark fa" placeholder="Rechercher" value="Rechercher"
                        (click)="GetListSearch()" />
                </div>
            </form>
        </div>
    </div>
    <div class="overflow-scroll">
        <div class="row mx-2 my-4 ">
            <div *ngFor="let item of ListStock| paginate: {itemsPerPage:3,currentPage:p} let i = index;"
                class="col-3 mt-3 ml-5 border about-section-card huver">
                <ng-template #updateContent let-modal>
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-basic-title"><b>Modifier un stock</b></h2>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-edit-stock [stocks]="item.idStock"></app-edit-stock>
                        </form>
                    </div>
                </ng-template>
                <ng-template #detailsContent let-modal>
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-basic-title"><b>Details d'un stock</b></h2>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-detail-stock [stocks]="item.idStock"></app-detail-stock>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="modal.close('Save click')">Fermer</button>
                    </div>
                </ng-template>
                <ng-template #rateContent let-modal>
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-basic-title"><b>Evaluer un stock</b></h2>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <app-edit-stock [stocks]="item.idStock"></app-edit-stock>
                        </form>
                    </div>
                </ng-template>
                <img src={{item.urlImage}} alt="" class="img-fluid mt-2">
                <b class="size">{{ item.libelleStock }}</b>
                <p class="mt-2 "><b>Quantité : </b>{{ item.qteStock }}</p>
                <p><b>Quantité minimale :</b> {{ item.qteMin }}</p>
                <!--<img src="../../../../assets/img/etoile.png" class="img" />-->
                <!--<ngb-rating [max]="5" [(rate)]="currentRate">
                </ngb-rating>
                <p>Rate: <b>{{currentRate}}</b></p>
            -->
                <div *ngIf="item.rating===0" class="my-2 d-flex flex-wrap">
                    <div *ngFor="let index of Rate5" class="ml-1">
                        <img src="../../../../assets/img/etoilevide.png" class="img" />
                    </div>
                </div>
                <div *ngIf="item.rating===1" class="my-2 d-flex flex-wrap">
                    <img src="../../../../assets/img/etoile.png" class="img ml-1" />
                    <div *ngFor="let index of Rate4" class="">
                        <img src="../../../../assets/img/etoilevide.png" class="img ml-1" />
                    </div>
                </div>
                <div *ngIf="item.rating===2" class="my-2 d-flex flex-wrap">
                    <div *ngFor="let index of Rate2" class="">
                        <img src="../../../../assets/img/etoile.png" class="img ml-1" />
                    </div>
                    <div *ngFor="let index of Rate3" class=""></div>
                    <img src="../../../../assets/img/etoilevide.png" class="img ml-1" />
                </div>
                <div *ngIf="item.rating===3" class="my-2">
                    <div *ngFor="let index of Rate3" class="ml-3 d-flex flex-wrap">
                        <img src="../../../../assets/img/etoile.png" class="img ml-1" />
                    </div>
                    <div *ngFor="let index of Rate2" class="ml-3 d-flex flex-wrap"></div>
                    <img src="../../../../assets/img/etoilevide.png" class="img ml-1" />
                </div>
                <div *ngIf="item.rating===4" class="my-2">
                    <div *ngFor="let index of Rate4" class="ml-3 d-flex flex-wrap">
                        <img src="../../../../assets/img/etoile.png" class="img ml-1" />
                    </div>
                    <div *ngFor="let index of Rate1" class="ml-3 d-flex flex-wrap"></div>
                    <img src="../../../../assets/img/etoilevide.png" class="img ml-1" />
                </div>
                <div *ngIf="item.rating===5" class="my-2 d-flex flex-wrap">
                    <div *ngFor="let index of Rate5" class="ml-1">
                        <img src="../../../../assets/img/etoile.png" class="img ml-1" />
                    </div>
                </div>
                <div *ngIf="item.qteStock < item.qteMin">
                    <div class="row mt-1 ml-2 d-flex flex-wrap">
                        <a class="btn btn-outline-info fa btn-title btn-ms ml-4 "
                            (click)="openupdate(detailsContent)">Details</a>
                        <a [routerLink]="['/DetailStock']"
                            class="btn btn-outline-dark fa btn-title btn-ms ml-2">Commander</a>
                    </div>
                    <div class="row mt-1 ml-2 d-flex flex-wrap">
                        <button class="btn btn-outline-warning fa btn-title btn-ms ml-4"
                            (click)="openupdate(updateContent)">Modifier</button>
                        <button [routerLink]="['/DeleteStock']"
                            class="btn btn-outline-danger fa  btn-title btn-ms ml-2">Supprimer</button>
                    </div>
                    <div class="row mt-1 ml-2 d-flex flex-wrap col-12">
                        <button class="btn btn-outline-success fa btn-title btn-ms col-10 ml-2 mb-2"
                            (click)="openupdate(updateContent)">Evaluer</button>
                    </div>
                </div>
                <div *ngIf="item.qteStock > item.qteMin">
                    <div class="row mt-1 ml-2 d-flex flex-wrap">
                        <a class="btn btn-outline-info fa btn-title btn-ms ml-3"
                            (click)="openupdate(detailsContent)">Details</a>
                        <button class="btn btn-outline-success fa btn-title btn-ms ml-4"
                            (click)="openupdate(rateContent)">Evaluer</button>
                    </div>
                    <div class="row mt-1 mb-2 col-12">
                        <a class="btn btn-outline-warning fa btn-title btn-ms col-5 ml-4"
                            (click)="openupdate(updateContent)">Modifier</a>
                        <a (click)="Delete(item.idStock)"
                            class="btn btn-outline-danger fa btn-title  btn-ms col-5 ml-1">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="mt-5"></pagination-controls>
</div>